<div class='promo_container'>
	<div class='promo one'>
		<div class='content'>
			<div ng-controller="CarouselDemoCtrl" id="slides_control">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
						<img ng-src="{{slide.image}}">
						<div class="carousel-caption">
							<h3>{{desc[$index]}}</h3>
						</div>
					</slide>
				</carousel>
			</div>     
		</div>
	</div>
	<div class='promo two'>
		<div class='content'>
					<img class="object-fit_fill" src="../img/home.png">
		</div>            
	</div>
		<div class='clear-fix'>
	</div>
</div>