body{
  margin: 0;
  padding: 0;
}
header a.logo{
  display: block;
  position: absolute;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.navbar-default{
  width: 100%;
  height: default;
  display: block;
  position: absolute;
  background-color: #a6430a;
}
header{  
  height: 200px;
  background: url(../img/banner_large.png) no-repeat right 0px;  
}
header a.logo{
  width: 150px;
  height: 85px;
  top: 28px;
  right: 30px;
  background-image: url(../img/logo_large.png);
}
article{
  padding: 60px 20px 10px 20px;
}
.promo_container{
  padding: 0px 0px 15px 20px;
}
.promo_container .promo{
  width: 50%;
  float: left;
  background-position: 0px 3px;
}
.promo_container .promo .content{
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 990px){
  footer{padding-left: 20px;}
}